<!--  Todo el contenido que hay aqui al crear la aplicacion se borra-->

<!--Aqui se referencian los componentes para que aparezcan cuando se inicie la aplicacion-->
<!-- Vamos a referenciar el componente navbar, para ello usamos el selector del componente: app-navbar -->
<app-navbar></app-navbar>

<!--Sin embargo, de esta forma se referencian los componentes que van a permanecer siempre visibles, como el navbar-->
<!--Para cargar los componentes segun la ruta, se utiliza router-outlet-->
<!--Que basicamente carga los componentes en funcion de la ruta seleccionada y que deberian estar configurados en app.routing.module-->
<router-outlet></router-outlet>

