<!--Vamos a crear el boton para expandir el menu especifico-->

<button [ngClass]="{'verde': !showMenuEspecifico, 'rojo':showMenuEspecifico}" (click)="mostrarMenu()">{{nombre}}</button>


<div>
    <!--Este es el menu especifico-->
    <ul *ngIf="showMenuEspecifico">
        <br><h5>Menu especifico de Main</h5><br>
        <li>
              <button>Opcion 1 Main</button>
          </li>
          <br>
          <li>
              <button>Opcion 2 Main</button>
          </li>
          <br>
          <li>
              <button>Opcion 3 Main</button>
          </li>
    </ul>
    <br>
  </div>









<!--Tema directivas-->

<h4>En este apartado vamos a probar directivas</h4>

<!--Vamos a utilizar la directiva ngFor-->
<!--Con el fin de recorrer el Array de String Ciudades del componente-->

<!--Otra directiva importante es el ngIf-->
<!--Imprime el HTML si la variable es verdadera-->

<!--La directiva click-->
<!--Que van entre parentesis (click) y llama a un metodo-->

<!--Y la ngClass-->
<!--Que permite añadir nuevas clases CSS al HTML-->


<br>
<h5>Primero listar un array de Strings con ngFor</h5>
<h5>Aunque tambien tiene un ngIf para el tema del boton</h5>
<div class="container" *ngIf="showCiudad">
    <p>Ciudades</p>
    <ul> 
        <li *ngFor="let ciudad of ciudades">{{ciudad}}</li> <!--Asi se pone el ngFor, donde se declara una variable que se va a rellenar por cada registro que recorra el for-->
    </ul>

</div>


<div class="container">
    <button class="btn btn-primary" *ngIf="showCiudad" (click)="mostrar()">Esconder ciudades</button>
    <button class="btn btn-primary" *ngIf="!showCiudad" (click)="mostrar()">Mostrar ciudades</button>
</div>
<br>


<h5>Y aqui el ngClass, que basicamente cambia la hoja de estilo CSS</h5>
<div class="container">
    <br>
    <!--La clase y el boolean que si es verdadero hace que se llame a la clase-->
    <!--Y tambien si es falso el booleano carga otra clase-->
    <div [ngClass]="{'alert-primary': changeCSS, 'alert-warning':!changeCSS}" class="alert" role="alert"> 
        Estilos de alerta Bootstrap
    </div>
    <div>
        <button class="btn btn-primary" (click)="cambioCSS()">Cambio de estilo CSS</button>
    </div>
</div>





  
