<div class="container">
    <h4>Consulta del tiempo por ciudad</h4>



    <div class="col-lg-6 alineacion card"> 

    <!--El siguiente formulario, ha sido copiado de 
    https://getbootstrap.com/docs/5.3/forms/overview/
    -->

    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>


    <div class="col-lg-6 alineacion">
         <!--La siguiente tarjeta, ha sido copiada de 
    https://getbootstrap.com/docs/5.3/components/card/
    -->
        <div class="card">
            <div class="card-body">
              <!--Generamos una lista-->
              <ul>
                <li>Ciudad:</li>
                <li>Temperatura:</li>
                <li>Latitud:</li>
                <li>Longitud:</li>
              </ul>
                
            </div>
          </div>
    </div>
</div>
